<div class="wrapper">
  <!-- Sidebar toggle button (only on mobile) -->
  <button
    class="btn btn-primary d-md-none toggle-btn"
    type="button"
    (click)="isSidebarOpen = !isSidebarOpen"
  >
    <i *ngIf="!isSidebarOpen" class="fas fa-bars"></i>
    <i *ngIf="isSidebarOpen" class="fas fa-times"></i>
  </button>

  <!-- Sidebar -->
  <nav id="sidebar" class="sidebar" [class.active]="isSidebarOpen">
    <div class="sidebar-header">
      <h3><i class="fas fa-building me-2"></i> EMS</h3>
    </div>

    <ul class="list-unstyled components">
      <li class="active" *ngIf="isAdmin">
        <a routerLink="dashboard"
          ><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a
        >
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="employee"><i class="fas fa-users me-2"></i>Employees</a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="leave-type"
          ><i class="fas fa-calendar-check me-2"></i>Leave Types</a
        >
      </li>
      <li>
        <a routerLink="leave"
          ><i class="fas fa-calendar-alt me-2"></i>Leave Management</a
        >
      </li>
      <li>
        <a routerLink="expense-claims"
          ><i class="fas fa-file-invoice-dollar me-2"></i> Expense Claims
        </a>
      </li>
    </ul>

    <!-- Logout Button -->
    <div class="sidebar-footer">
      <a (click)="onLogOut()" class="btn btn-outline-light btn-sm text-center">
        <i class="fa fa-sign-out-alt me-2"></i>Logout
      </a>
      <p class="text-center small fst-italic mt-3">
        © {{ currentYear }} Employee Management System
      </p>
    </div>
  </nav>

  <!-- Page Content -->
  <div id="content" class="content">
    <router-outlet></router-outlet>
  </div>
</div>
